/* style.css */
body {
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f7f7f7;
}

.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  width: 350px;
  text-align: center;
}

h1 {
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

h2 {
  color: #333;
  font-size: 20px;
  margin-top: 30px;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;  /* Espacement entre les items */
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}

.item:last-child {
  border-bottom: none; /* Enlever la bordure sous le dernier élément */
}

label {
  font-size: 16px;
  margin-right: 10px;
  width: 120px;
  text-align: left;
}

input {
  width: 50px;
  text-align: center;
  padding: 5px;
  font-size: 16px;
}

.total-item {
  font-size: 16px;
  color: #333;
}

.image-item {
  width: 40px;  /* Taille de l'image */
  height: auto;
  margin-right: 10px;
  border-radius: 50%;  /* Optionnel : arrondir les images */
}

h2 {
  font-size: 20px;
  color: #333;
  margin-top: 20px;
}

#total-general {
  font-weight: bold;
  font-size: 22px;
  color: #5cb85c;  /* Couleur du total */
}

input:focus {
  outline: none;
  border: 2px solid #007bff;  /* Bordure bleue au focus */
}

input[type="number"] {
  -moz-appearance: textfield;
  -webkit-appearance: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
